@use "../global" as global;


.c-file {
  margin: global.$base;
  flex: 1 1 auto;
  overflow: hidden;
  max-width: 100%;
  min-width: 15rem;
  -webkit-box-flex: 1;
  vertical-align: top;
  border: 1px solid global.$primary;
  border-radius: global.$border-radius;

  &__title {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
  }
}