@use "../global" as global;


.message {

  &__row-left {
    display: flex;
  }

  &__row-right {
    display: flex;
    justify-content: flex-end;
  }

  &__left-message {
    position: relative;
    margin-left: global.$base * 2;
    margin-bottom: global.$base * 2;
    padding: global.$base;
    background-color: global.$gray-20;
    width: 94%;
    text-align: left;
    border: 1px solid global.$gray-55;
    border-radius: global.$base * 2 global.$base * 2 global.$base * 2 0;
    color: global.$white;
  }

  &__right-message {
    position: relative;
    margin-left: global.$base * 2;
    margin-bottom: global.$base * 2;
    padding: global.$base;
    background-color: global.$accent-3;
    width: 94%;
    text-align: left;
    border: 1px solid global.$gray-55;
    border-radius: global.$base * 2 global.$base * 2 0 global.$base * 2;
    color: global.$white;
  }

  &__timestamp {
    position: absolute;
    font-size: global.$font-size-sm;
    margin-top: 10px;
    bottom: -3px;
    right: 5px;
  }
}